<div class="login-page d-flex h-100 align-items-center pe-3 ">
    <div class="border bg-white shadow-lg px-3 rounded py-3">
        <h4 class="text-primary text-center mb-3">Log In</h4>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <div *ngIf="errorMessage" class="text-danger mb-2">Incorrect username and password</div>

            <div class="input-group mb-3">
                <input type="text" class="form-control border-primary form-control-sm shadow-none" formControlName="userName" placeholder="Username" required>
              </div>
              
              <div class="input-group mb-3">
                <input type="password" class="form-control border-primary form-control-sm shadow-none" formControlName="password" placeholder="Password" required>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input border-primary shadow-none" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Remember Me
                </label>
              </div>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" type="submit" class="btn btn-primary me-3 rounded btn-sm" [disabled]="loginForm.invalid">Log In</button>
                <button type="button" class="btn btn-primary rounded btn-sm">Forget Password</button>
              </div>
        </form>
        <div class="mt-3">
          <span class="fs-12 fw-semibold me-2 text-light-emphasis">Powerd By</span>
          <img src="../../../assets/images/sharvi-logo.png" alt="sharvi-logo" width="80">
        </div>
    </div>
</div>
